.Fight {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #000;
    justify-content: space-around;
    width: 100%;
    padding: 9vh 0;
    overflow: hidden;
    // top: 50%;
    // transform: translateY(-50%);
    // background-color: peachpuff;
    .Team-Wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.yourTeam {
            flex-direction: column-reverse;
        }
    }
    h1 {
        font-size: 2.2vw;
    }
    .img-wrapper {
        // padding-top: unset;
        img {
            width: 112%;
            height: 112%;
        }
    }
    .TeamDiv {
        width: 100%;
        display: flex;
    }
    .yourTeam {
        // background: tomato;
    }
    .dealerTeam {
        // background: green;
    }
    li {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.yourTeam {
    color: var(--red);
    display: flex;
    flex-direction: row-reverse;
    // * {
    //     color: var(--red)
    // }
    .filterStyle {
        background: var(--red);
        width: 0;
        transition: 5s;
        float: right;
    }
    .each-poke {
        // display: flex;
        // flex-direction: column-reverse;
    }
} 

.dealerTeam {
    color: var(--yellow);
    .filterStyle {
        background-color: var(--yellow);
        width: 0;
        transition: 5s;
    }
} 

.score-div, .overlay {
    display: flex;
    font-size: 2.5em;
    color: grey;
    flex-shrink: 0;
    // font-size: 200%;
    span {
        color: grey;
        font-size: 2.2vw;
    }
    h1 {
        font-size: 5vw;
    }
}

.win{
    // -webkit-text-stroke: 1px var(--red);
    animation: text .9s infinite ease-in-out;
    text-transform: uppercase;
    font-size: 5vw !important;
}
  
.each-poke {
    // border: 1px solid violet;
    display: flex;
    padding: .5vw;
    // border: 2px dotted hotpink;
}

.ProgessBar {
    width: 95%;
    margin: 0 auto;
}

.overlay {
    content: '';
    -webkit-animation: showup 1.6s;
    animation: showup 1.6s;
    background: hsla(0,0%,100%,.15);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
}

.notransition {
    animation-name: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

// .score-div, .overlay h1 {
//     border: 1px solid gold;
//     height: 20%;
//     display: flex;
//     align-items: center;
// }


// .replayBtn {
//     background: #fe5350;
//     background: var(--red);
//     border-radius: 50%;
//     width: 6vw;
//     height: 6vw;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
// }
// .team {
//     text-align: center;
//     &.dealer {
//         display: flex;
//         flex-direction: column-reverse;
//     }
// }

// .teamDiv {
//     display: flex;
//     flex-wrap: wrap;
//     text-align: center;
//     justify-content: center;
//     background-color: green;
//   }
//   .teamDiv img {
//     width: 60px;
//   }
//   .teamDiv .startBtn {
//     margin: 0 1rem 0 0;
//   }
//   .teamDiv h2, .teamDiv p {
//     width: 100%;
//     text-align: center;
//   }