.hand-icon {
  *{
    color: var(--yellow);
    -webkit-text-stroke: 1px var(--red);
    // margin-left: 1em;
    text-align: center;
  }
  h1 {
    font-size: 90%;
  }
  img {
    width: 25%;
  }
}

nav .hand-icon {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation: pointUp .9s infinite linear;
}

.team-zone .hand-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  animation: pointDown .9s infinite linear;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column-reverse;
  animation: pointDown .9s infinite linear;
  img {
    transform: rotate(180deg);
  }
}

.ball-div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
  h1 {
    color: var(--yellow);
    font-size: 90%;
  }
  img {
    width: 25%;
  }
}

.SearchBar-div{
  display: flex;
  align-items: center;
  .hand-icon{
    position: absolute;
    display: flex;
    align-items: center;
    animation: pointLeft .9s infinite linear;
    // left: 5em;
    img {
      transform: rotate(270deg);
      width: 3.5vw;
      margin-right: 1.5vh;
    }
  }      
}

  @keyframes pointUp {
    0% {
      top: calc(100% + .5vw)
    }
    100% {
      top: 100%;
    }
  }

  @keyframes pointDown {
    0% {
      bottom: 5%;
    }
    100% {
      bottom: 0;
    }
  }

  // @keyframes pointLeft {
  //   0% {
  //     left: calc(5vw + 1.5vw + .5vw)
  //   }
  //   100% {
  //     left: calc(5vw + 1.5vw);
  //   }
  // }

  @media (min-width: 900px){

    .hand-icon {
      img {
        width: 9vh !important;
      }
      h1 {
        font-size: 3.5vh;
      }
    }
    .top-div {
      .title-div{
        img {
          width: 9vh;
        }
        h1 {
          font-size: 3.5vh;
        }
      } 
    }

  }
