.hand-icon {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation: pointUp .9s infinite linear;
  *{
    color: var(--yellow);
    -webkit-text-stroke: 1px var(--red);
    margin-left: 1em;
    text-align: center;
  }
  img {
    width: 90px;
  }
}

.Play .play-zone .hand-icon {
  display: flex;
  align-items: center;
  z-index: 999;
  bottom: 0;
  top: unset;
  animation: pointDown .9s infinite linear;
  img {
    transform: rotate(180deg);
  }
}
  @keyframes pointUp {
    0% {
      top: 100%;
    }
    100% {
      top: calc(100% + 1em);
    }
  }

  .SearchBar {
    .hand-icon {
      text-align: center;
      animation: pointUp .9s infinite linear;
    }
  }

  @keyframes pointDown {
    0% {
      bottom: 10%;
    }
    100% {
      bottom: 0%;
    }
  }