.hand-icon {

  *{
    color: var(--yellow);
    -webkit-text-stroke: 1px var(--red);
    // margin-left: 1em;
    text-align: center;
  }
  img {
    width: 5vw;
  }

}

nav .hand-icon {
  background: green;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation: pointUp .9s infinite linear;
}

.team-zone .hand-icon {
  display: flex;
  align-items: center;
  z-index: 999;
  bottom: 0;
  height: 5vw;
  display: flex;
  align-items: center;
  img {
    transform: rotate(180deg);
    animation: pointDown .9s infinite linear;
    bottom: 0;
    position: absolute;
  }
  h1 {
    margin-left: 3.5em;
  }
}

  .SearchBar {
    .hand-icon {
      text-align: center;
      animation: pointUp .9s infinite linear;
    }
  }

  @keyframes pointUp {
    0% {
      top: calc(100% + 1vw)
    }
    100% {
      top: 100%;
    }
  }

  @keyframes pointDown {
    0% {
      bottom: 1vw;
    }
    100% {
      bottom: 0;
    }
  }