
.Home {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
    h1 {
      color: var(--yellow)
    }
    *{
      font-size: 37pt;
      text-transform: uppercase;
      color:gray;
    }
    ul {
      display: flex;
    }
    .menu {
      display: flex;
      flex-direction: column;
      a {
          text-decoration: none;
          margin-bottom: 1.1em;
          position: relative;
        }
    }
    .small-btn-div {
      display: flex;
    }
  }

  iframe {
    width: 0;
    height: 0;
  }