nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9;
  width: 100%;
    ul {
      display: flex;
      z-index: 99;
      a, button {
      list-style: none;
      font-size: 1.2em;
      text-decoration: none;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.1);
    }
    li {
      padding: 0
    }
  }
    .btn {
      position: relative;
      padding: .5em;
      img {
        width: 5vw;

      }
      &:link,
      &visited {
        text-transform: uppercase;
        display: inline-block;
        transition: all .2s;
        text-align: center;
      }
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }
  .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: transparentize($color: #000000, $amount: 0);
    color: grey;
    text-align: center;
    border-radius: 6px;
    padding: .5em;
    z-index: 999 !important;
    position: absolute;
    right: 0;
    top: calc(100% + 1em);
    font-size: 16px;
  }
}

.fullscreenBtn {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
}

  .tooltip:hover .tooltiptext{
    visibility: visible;
    z-index: 999;
  }

  /* classList^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
  .active-link {
    background: var(--red)
  }
