.SearchBar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: .15em;
    &:after {
      content: "";
      background: #fff;
      width: .5vw;
      height: 2.5vw;
      position: absolute;
      // top: 3vw;
      // right: -15px;
      -webkit-transform: rotate(115deg);
      transform: rotate(115deg);
      box-shadow: 1px 0 var(--red); 
      top: 50%;
      left: calc(100% + .5vw); 
      // transform: translate(-50%);
    }
    input {
      padding-left: .5vw;
      color: #fff;
      font-size: 3.5vw;
      background: transparent;
      width: 6.2vw;
      height: 6.2vw;
      border: .5vw solid;
      outline: none;
      border-radius: 50px;
      box-shadow: 0 1px var(--red);
      position: relative;
      // transition: width .5s;
    }
    &::placeholder {
      color: #efefef;
      opacity: 1;      
    }
  }
  
  .SearchBar > input::-ms-placeholder {
    color: #efefef;
  }
  
  .SearchBar > input::-ms-input-placeholder {
    color: #efefef;
  }
  
  .SearchBar > input:focus {
    background: #fff;
    // opacity: .25;
    color: var(--black)
  }

  .SearchBar-div {
    position: absolute;
    left: 0;
    z-index: 9999;
    position: fixed;
    top: 0;
  }


  @media (max-width: 900px) {
    .SearchBar > input:focus, .SearchBar > input:active {
      // min-width: 30vw;
      opacity: 1;
    }
    .SearchBar > input:focus ~ .top-div  {
        display: none;
        background: green
    }
  }